* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

body {
  background: black;
}

.navbar {
  width: 100%;
  padding: 0;
}
.navbar img {
  width: 100px;
}
.navbar span img {
  width: 30px;
}

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  width: 100%;
  background: black;
}
.container-fluid a {
  color: white;
  font-size: 1.5rem;
}
.container-fluid a:hover {
  color: rgb(91, 94, 94);
}
.container-fluid .active {
  color: rgb(93, 95, 95) !important;
}

.imagenes {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: black;
}
.imagenes img {
  object-fit: contain;
  margin: 0 auto;
}

.enlaces .card {
  background: url(../multimedia/123eec85ee810e8b9ce5d08cadaa03a3.jpg);
  color: white;
  margin: 1rem;
}

.principal h1 {
  text-align: center;
  color: white;
  font-size: 2.3rem;
  margin: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.principal h2 {
  text-align: center;
  color: rgb(131, 131, 131);
  margin: 2rem;
  font-size: 2rem;
}
.principal h3 {
  text-align: center;
  color: rgb(135, 132, 132);
  margin: 2rem;
  font-size: 1.5rem;
}

.peinados {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.peinados img {
  width: 250px;
  height: 70px;
  object-fit: contain;
  margin: 0;
  overflow: hidden;
}
@media (min-width: 765px) {
  .peinados img {
    height: 230px;
  }
}
.peinados .card-body button a {
  text-decoration: none;
  color: bisque;
}

.nosotros {
  text-align: center;
  color: rgb(165, 162, 162);
}
.nosotros h2 {
  color: rgb(255, 255, 255);
  margin: 3rem;
  font-size: 1.5rem;
}
.nosotros h3 {
  font-size: 1rem;
}

.formulario {
  color: white;
  font-size: 1.5rem;
  width: 90%;
  margin: 6rem auto;
  border: 2px solid white;
  border-radius: 10px;
}
.formulario h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
}
.formulario label {
  font-size: 1rem;
}
.formulario button {
  margin: 1rem;
}

.separacion {
  width: 100%;
  background: white;
  padding: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer h2 {
  padding-top: 2rem;
  font-size: 1rem;
}
.footer h2 span {
  color: rgb(120, 117, 117);
  font-size: 1.1rem;
}
.footer h4 {
  color: rgb(255, 255, 255);
}
.footer h3 {
  text-align: center;
  font-size: 1rem;
}
.footer nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}
.footer nav ul li a {
  display: flex;
}
.footer nav ul a {
  list-style: none;
  text-decoration: none;
  color: rgb(142, 139, 139);
}

.separacion__2 {
  background: white;
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background: gray;
  border: gray;
}
.btn-primary:hover {
  background: rgb(255, 255, 255);
  color: grey;
}

.redes h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
.redes ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}
.redes ul li {
  list-style: none;
}
.redes ul li p {
  color: white;
}
.redes ul li p:hover {
  display: block;
}
.redes ul li a img {
  width: 50px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0.5rem;
}

#estilos {
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .nosotros__ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
