*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
body{
    background: black;
}
.navbar{
    width: 100%;
    padding: 0;
    img{
        width: 100px;
    }
    span img{
        width: 30px;
    }
}
.navbar-collapse{
    flex-grow: 0;
}
.container-fluid{
    width: 100%;
    background:black;
    
    a{
        color:white;
        font-size:1.5rem;
    &:hover{
        color: rgb(91, 94, 94);
    }
}
    .active{
        color: rgb(93, 95, 95) !important;
    }
}
.imagenes{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background:black;
    img{
    object-fit: contain;
    margin: 0 auto;
    } 
}
.enlaces{
    .card{
        background:url(../multimedia/123eec85ee810e8b9ce5d08cadaa03a3.jpg);
        color:white;
        margin: 1rem;
    }
} 
.principal{
    h1{
        text-align: center;
        color: white;
        font-size: 2.3rem;
        margin: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h2{
        text-align: center;
        color: white;
        margin: 2rem;
        font-size: 2rem;
    }
    h3{
        text-align: center;
        color: white;
        margin: 2rem;
        font-size: 1.5rem;
    }
}
.peinados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:auto;
    img{
        width:250px;
        height: 300px;
        object-fit:contain;
        margin: 0;
        overflow: hidden;
    }
}
.nosotros{
    text-align: center;
    color: rgb(165, 162, 162);
    h2{
        color: rgb(255, 255, 255);
        margin: 1.3rem;
        font-size: 2rem;
    }
}
.formulario{
    color: white;
    font-size: 1.5rem;
    width: 90%;
    margin: 6rem auto;
    border: 2px solid white;
    border-radius: 10px;
    h2{
        text-align: center;
        font-size: 2rem;
        margin: 3rem 0 ;
    }
    label{
        font-size: 1rem;
    }
    button{
        margin: 1rem;
    }
}
.separacion{
    width: 100%;
    background: white;
    padding: 50px;
}
.footer{    
        display:flex;
        flex-direction: column;
        color: white;
        h2{
            padding-top: 2rem;
            font-size: 1rem;
            span{
                color: rgb(120, 117, 117);
                font-size: 1.1rem;
            }
        }
        h4{
            color: rgb(255, 255, 255);
        }
    
    nav 
        {
            padding-top: 100px;
        
        ul{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            list-style: none;
            li a{
                display: flex;
            }
            a{
                list-style: none;
                text-decoration: none;
                color: rgb(142, 139, 139);
            }
        } 
    }
}